2captcha-python==1.5.1
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
android==1.0
anyio==4.8.0
appdirs==1.4.4
astroid==2.15.8
attrs==25.1.0
audiostream==0.2
base58==2.1.1
beautifulsoup4==4.13.3
bitarray==2.9.3
bs4==0.0.2
certifi==2025.1.31
cffi==1.16.0
charset-normalizer==3.4.1
chromedriver-autoinstaller==0.6.4
cloudscraper==1.2.71
cmake @ file:///home/n0n3m4/Desktop/Pydroid/zBuildPrepared/cmake-3.26.4-py3-none-any.whl#sha256=695389dbf5c0aa220776821172e2f03865e0fe9ba10d7459373597d21af6643e
cssselect==1.2.0
cytoolz==0.12.3
dill==0.3.7
distro==1.8.0
eth-abi==2.1.1
eth-account==0.5.9
eth-hash==0.3.3
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
fake-useragent==2.0.3
filelock==3.17.0
frozenlist==1.5.0
fsspec==2025.2.0
greenlet==3.1.1
h11==0.14.0
hexbytes==0.3.1
html5lib==1.1
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.28.1
idna==3.10
importlib_metadata==8.6.1
ipfshttpclient==0.8.0a2
isort==5.12.0
jedi==0.19.0
jsonschema==3.2.0
Kivy==2.2.1
lazy-object-proxy==1.9.0
lru-dict==1.3.0
lxml==4.9.3
mccabe==0.7.0
multiaddr==0.0.9
multidict==6.1.0
netaddr==1.3.0
ninja @ file:///home/n0n3m4/Desktop/Pydroid/zBuildPrepared/ninja-1.11.1-py3-none-any.whl#sha256=bde2ef34b4295ff07a0c1703ce5c7f3acccd621a91b21d4c6aaf09bd8f6591a8
outcome==1.3.0.post0
packaging==23.1
parse==1.20.2
parsimonious==0.8.1
parso==0.8.3
pillow==11.1.0
pkgconfig==1.5.5
platformdirs==3.10.0
praw==7.8.1
prawcore==2.4.0
propcache==0.2.1
protobuf==3.19.5
pybind11==2.11.1
pycparser==2.21
pycryptodome==3.21.0
pyee==11.1.1
pygame==2.5.0
pyjnius==1.5.0
pylint==2.17.5
pyparsing==3.2.1
pyppeteer==2.0.0
pyquery==2.0.1
pyrsistent==0.20.0
PySDL2==0.9.15
PySocks==1.7.1
pyTelegramBotAPI==4.26.0
python-dotenv==1.0.1
python-telegram-bot==21.10
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-html==0.10.0
requests-toolbelt==1.0.0
rlp==2.0.1
schedule==1.2.2
scikit-build==0.17.6
selenium==4.28.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.38
tomlkit==0.12.1
toolz==1.0.0
tqdm==4.67.1
transformers==4.48.3
trio==0.28.0
trio-websocket==0.11.1
typed-ast==1.5.5
typing_extensions==4.12.2
update-checker==0.18.0
urllib3==1.26.20
varint==1.0.2
w3lib==2.3.1
web3==5.31.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
wrapt==1.15.0
wsproto==1.2.0
yarl==1.18.3
zipp==3.21.0
